[Unit]
Description=Background Process to rip Discs
After=network.target

[Service]
ExecStart=/home/devtobias/autoripper/ripper
WorkingDirectory=/home/devtobias/autoripper
Type=simple
Restart=always

[Install]
WantedBy=default.target
